@use '../../pages/utils.scss' as *;

html, body {
  height: 100%;
  overflow-x: hidden;
}

body.page {
  overflow-y: auto;
  height: auto;
  min-height: 100vh;
}

#app {
  min-height: 100vh;
  height: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;

  &:hover {
    background: #9ca3af;
  }
}
